[Unit]
Description=Internet Dynamic DNS Client
Documentation=man:inadyn
Documentation=man:inadyn.conf
Documentation=https://github.com/troglobit/inadyn
ConditionPathExists=/home/zhangtianchuan/trunk/GPL_Code/source/user/inadyn-new/inadyn-2.5/install/etc/inadyn.conf
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=/home/zhangtianchuan/trunk/GPL_Code/source/user/inadyn-new/inadyn-2.5/install/sbin/inadyn -n -s

[Install]
WantedBy=multi-user.target
