/*////////////////////// Ethernet /////////////////////////*/
#FunctionName {
	position: relative;
	top: 10px;
	left: 250px;
	color: #56583f;
	font-size:40px;
}

#wallimage {
	position: relative;
	top: 0px;
	left: 0px;
	width: 195px;
}

#directions {
	position: absolute;
	top: 70px;
	left:250px;
	color: #56583f;
	font-size:14px;
	width: 650px;
}

#Save_btn {
	position: relative;
  	width: 130px;
   	height: 50px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height: 52px;
	background: url(../image/save_btn3.png) left top no-repeat;*/
}


#wizard_btn {
	position: absolute;
	top: 97px;
	left: 37px;
	z-index: 100;
	min-width: 120px; 
}

.styled-button {
	position: relative;
	top: 0px;
	color: #FFF;
	display: block;
	text-decoration:none;
	margin:0 auto;
	border:solid 1px #4a6c75;
	background:#4496a8 url(../image/button_bg.png) left top repeat-x;
	text-align:center;
	padding:10px 15px;
	min-width: 120px;
	cursor:pointer;
	font-size: 14px;
}
.styled-button:hover{
	background:#4496a8 url(../image/button_bg_hover.png) left top repeat-x;
}

.styled_button_s {
	position: relative;
	top: 0px;
	color: #FFF;
	/*display: block;*/
	display: inline-block;
	text-decoration:none;
	border:solid 1px #4598aa;
	background:#4598aa;
	text-align:center;
	padding:10px 15px;
	min-width: 120px;
	font-size: 11pt;
	cursor:pointer;
	
}
.styled_button_s:hover{
	background:#4496a8 url(../image/button_bg.png) left top repeat-x;
}
.styled_button_dis {
	position: relative;
	top: 0px;
	color: #FFF;
	/*display: block;*/
	display: inline-block;
	text-decoration:none;
	border:solid 1px #9d9da1;
	background:#9d9da1;
	text-align:center;
	padding:10px 15px;
	min-width: 120px;
	font-size: 14px;
}
.styled_button_wz {
	position: relative;
	top: 0px;
	color: #FFF;
	display: inline-block;
	text-decoration:none;
	border:solid 1px #c40000;
	background:url(../image/button_wz_bg.png) left top repeat-x;
	text-align:center;
	padding:8px 10px;
	font-size: 14px;
	cursor:pointer;
	
}
.styled_button_wz:hover{
	background: url(../image/button_wz_bg_hover.png) left top repeat-x;
}
.myTable_index_usb  {
	margin: 0 0 0 40px; 
}
.myTable_index_usb th {
	text-align: left;
	min-width: 150px;
	max-width: 200px;
}

.inforTableTitle {
	white-space:nowrap;
	color: #4598aa;
 	font-weight: bold;
  	font-size: 12pt;
  	line-height:10px;
}
.inforTableTitle th {
	padding: 0 0 0 7px;
}

#usbDeviceSpace_Status {
	position: relative;
	top: 0px;
	left: 40px;
}
#usbDeviceSpace_Percent td {
	position: relative;
	top: 0px;
	left: 40px;
	width: 310px;
}
#usbDeviceSpace_PercentValue td {
	position: absolute;
	width: 300px;
	top: 93px;
	left: 50px;
	font-size: 12pt;
	text-align: center;
}

#usbDeviceSpace_PercentValue2 td {
	position: absolute;
	width: 300px;
	top: 221px;
	left: 50px;
	font-size: 12pt;
	text-align: center;
}
#usbport_2 {
	position: relative;
	top:10px;
	left:0px;

}

/*///////////////////// Ethernet Client ///////////////////////*/
.client_Tag {
	position: relative;
  	width: 285px;
   	height: 110px;
   	background: url(../image/Client_Card_s.png) no-repeat;
	background-size:contain;
}
.client_add_Tag {
	position: relative;
  	width: 285px;
   	height: 110px;
   	background: url(../image/Client_Card_add.png) no-repeat;
   	background-size:contain;
}
.link_IconE,
.link_IconE_Allow {
	position: relative;
	top: 40px;
	left: 12px;
	width: 32px;
	height: 32px;
	background: url(../image/EthernetClient.png) no-repeat;
	background-size:contain;
}
.link_Offline_Block,
.link_IconE_Block {
	position: relative;
	top: 30px;
	left: 5px;
	width: 50px;
	height: 50px;
	background: url(../image/Ethernet_Block_.png) no-repeat;
	background-size:contain;
	
}
.link_Offline_Allow {
	position: relative;
	top: 40px;
	left: 12px;
	width: 32px;
	height: 32px;
	background: url(../image/EthernetClient_Disconnected.png) no-repeat;
	background-size:contain;
}
.link_IconW,
.link_IconW_Allow {
	position: relative;
	top: 40px;
	left: 12px;
	width: 32px;
	height: 32px;
	background: url(../image/wireless_icon.png) no-repeat;
	background-size:contain;
}
.link_IconW5G,
.link_IconW5G_Allow{
	position: relative;
	top: 40px;
	left: 12px;
	width: 32px;
	height: 32px;
	background: url(../image/wifi_5g.png) no-repeat;
	background-size:contain;
}

.link_IconExtender{
	position: relative;
	top: 40px;
	left: 12px;
	width: 32px;
	height: 32px;
	background: url(../image/extender.png) no-repeat;
	background-size:contain;
}
.link_IconPowerLine{
	position: relative;
	top: 40px;
	left: 12px;
	width: 32px;
	height: 32px;
	background: url(../image/powerLine.png) no-repeat;
	background-size:contain;
}
.link_IconW_Block {
	position: relative;
	top: 30px;
	left: 5px;
	width: 50px;
	height: 50px;
	background: url(../image/Wireless_Block_.png) no-repeat;
	background-size:contain;
}

.client_Info {
	position: absolute;
	top: 30px;
	left: 65px;
	width: 264px;
}

.client_Name {
	position: absolute;
	top: -20px;
	font-size: 15px;
	color: #4598aa;
	LINE-HEIGHT: 28px;
}
.client_Name_Offline {
	color: #666666;
}
.client_IPv4Address {
	position: absolute;
	top: 10px;
	right: 70px;
	font-size: 12px;
	LINE-HEIGHT: 28px;
}
.client_Vender {
	position: absolute;
	top: 10px;
	font-size: 12px;
	LINE-HEIGHT: 28px;
}

.client_IPv6Address {
	position: absolute;
	top: 30px;
	left: -3px;
	font-size: 10px;
	LINE-HEIGHT: 28px;
	text-align:right;
	text-overflow: ellipsis;
	white-space:nowrap;
	overflow:hidden;
	width: 195px;
}
.client_EditImage {
	position: absolute;
	top: -25px;
	right: 65px;
	width: 28px;
	height: 28px;
	background: url(../image/edit_btn.png) no-repeat;
	background-size:contain;
}
.client_Access {
	position: absolute;
	top: 50px;
	left:0;
	font-size: 12px;
	LINE-HEIGHT: 28px;
}
/*/////////////////*/
.block {
	position: relative;
	top: 00px;
	left: 00px;
  	width: 400px;
   	height: 136px;
}
/*/////////////////*/
#editPop {
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background:url(../image/black_bg.png);
	text-align: center;
}
/*
#popRect {
	position: relative;
	top: 250px;
	width: 616px;
	Height: 450px;
	margin: 0 auto;
}
*/
#popTop {
	position: relative;
	top: 0px;
  	width: 616px;
   	height: 30px;
	background: url(../image/pop_top.png) left top no-repeat;
}
#popstyled_button_s {
	position: relative;
	top: 0px;
  	width: 616px;
  	background: url(../image/pop_body.png) left top repeat-y;
}
#popBottom {
	position: relative;
	top: 0px;
  	width: 616px;
   	height: 30px;
	background: url(../image/pop_bottom.png) left top no-repeat;
}
.popTitle {
	position: relative;
	top: 0px;
	left: 0px;
	color: #4598aa;
	font-size: 17pt;
	font-weight: normal;
	margin: 0px 0px 10px 30px;
}
#Save_edit_pop_btn {
	width: 130px;
	height: 40px;
	font-size: 18px;
	color: #fff;
	text-align:center;
	line-height:42px;
	background-color: #4496a8;
}
.checkbox_on {
	display: block;
	width:85px;
	height:40px;
	cursor:pointer;
	background:#fff url(../image/enable.png) left top no-repeat;
	font-size: 11pt;
	line-height:40px;
	color:#fff;
	padding-right:15px;
	text-align:center; 
	background-size:contain;
}
.checkbox_on input, .checkbox_off input {
	display: none;
}
.checkbox_off {
	display: block;
	width:85px;
	height:40px;
	background: #fff url(../image/disable.png) left top no-repeat;
	font-size: 11pt;
	line-height:40px;
	color:#fff;
	padding-left:15px;
	text-align:center;
	background-size:contain;
}
#bold {
 	color: #454547;
 	font-weight: bold;
 	font-size: 12pt;
}


.linkstyle_1 a{
	color: #4598aa;
}
.linkstyle_2 a{
	color: #00fcff;
}
.linkstyle_3 a{
	color: #4598aa;
	font-size: 12pt;
}

/*////////////////////////POPUI_Wizard/////////////////////////*/ 
#createPop {
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background: url(../image/black_bg.png);
}
#createPop_Manual {
	position: fixed;
	z-index: 500;
	top: 0px;
	left: 0;
	width: 100%;
	height:100%;
}
#dialogBox_Background {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background: url(../image/black_bg.png);
}
#dialogBox {
	position: relative;
	top: 80px;
	margin: 0 auto;
	border: 2px solid #fff;
	background-color: #fff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 20px 20px 30px 20px;
	-moz-box-shadow: 3px 3px 25px #000;
	-webkit-box-shadow: 3px 3px 25px #000;
	box-shadow: 3px 3px 25px #000;
	/*background:#fff url('../image/dialog_bg.png') left top repeat-x;*/
}
.myCreatePop_table {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	color: #56583f;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
.myCreatePop_table th {
	width: 180px;
	text-align: right;
	font-weight: normal;
	margin: 0px;
	padding: 0px;	
}
.myCreatePop_table td {
	padding: 6px;	
	text-align: left;
}
#closeCreatePopBtn {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 26px;
	height: 26px;
	margin: 20px;
	padding: 0px;
	background: url(../image/closeDialog3.png) left top no-repeat;
	cursor:pointer;
	z-index: 100;
	background-size:contain;
}