/*//////////////////////MAP//////////////////////////*/
#map_wording {
	position: relative;
	margin-top: 15px;
	z-index:1;
	height: 80px;
}
#map_status{
	position: relative;
	bottom: 10px;
	height: 33px;
	width:33px;
}
#map_title {
	font-size: 28pt;
	font-family: 'Segoe UI', Tahoma, Arial, Helvetica, Sans-Serif;
	color: #454547;
	max-width: 480px;
	margin-left:10px;
}
#map_info {
	position: relative;
 	margin-left: 50px;
	color: #454547;
	font-size:12pt;
}
#map_fw_info {
	position: relative;
 	margin-left:50px;
}
#map_fw_info > a {
	color: #4598aa;
	font-size:10pt;
	font-weight: bold;
	text-decoration: underline;
}
#map {
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
	height: 237px;
	width: 620px;
}

/*//////////////////////TOPOLOGY//////////////////////////*/

#internetIcon {
	position: absolute;
	top:17px;
	min-width:120px;
	z-index: 99;
	cursor: pointer;
}

#line_uplink {
	position: absolute;
	top: 73px;
	left: 90px;
}

.link_line {
	z-index:1;
	width: 190px;
	height: 18px;
}

#ConnStatusIcon {
	position: absolute; 
	z-index: 99;
	left: 170px;
	top: 65px; 
}

#goto_wizard {
	position: absolute;
	top:100px;
	left:115px;
	/*opacity: 0.7;*/
}
/*
#goto_wizard:hover {
	opacity: 1;
}*/
/*
#goto_wizard > img {
	position: absolute;
	top:0px;
	left:60px;
	z-index: 100;
}*/
.goto_this_wz {
	position: absolute;
	top:0px;
	left:60px;
	z-index: 100;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 13px 10px 13px;
	border-color: transparent transparent #ff0000 transparent;
}

#goto_wizard > button {
	position: absolute;
	top: 8px;
	left:0px;
	color: #FFF;
	background-color: red;
	z-index: 99;

	border:solid 1px #ff4d4d;
	text-align:center;
	padding:10px 5px;
	width: 150px;
	cursor:pointer;
	font-size: 14px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}



#routerIcon {
	position: absolute;
	top:17px;
	left: 250px;
	min-width:120px;
	z-index: 99;
	cursor: pointer;
}

#line_downlink {
	position: absolute;
	top: 73px;
	left: 340px;
}

#clientIcon {
	position: absolute;
	top:17px;
	left: 500px;
	min-width:120px;
	z-index: 99;
	cursor: pointer;
}

.circle_icon {
	position: relative;
	height: 119px;
	width: 119px;
	margin: 0 auto;
	background: radial-gradient(#ffffff 44px, #bdbdbd 45px, rgba(189,189,189,0.5) 46px, rgba(255,255,255,0) 49px);
}

.circle_icon:hover {
	background: radial-gradient(#ffffff 44px, #bdbdbd 45px, rgba(57, 208, 240, 0.3) 46px, rgba(57, 208, 240,0) 47px);
}

.circle_icon.active, .circle_icon:active {
	background: radial-gradient(#ffffff 44px, rgba(57, 208, 240, 0.6) 45px, rgba(57, 208, 240,0) 50px);
}

.circle_icon > img {
	position: absolute;
	top: 27px;
	left: 30px;
	width: 60px;
	height: 60px;
	z-index: 100;
	cursor: pointer;

	/*background-color: #ccc;*/
}

.IconName {
	position: absolute;
	top: -10px;
	color: rgb(170, 170, 170); 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12pt;
	white-space: nowrap;
}

.IconName > img {
	position: absolute;
	left:-35px;
	top:-10px;
	height: 35px;
	width: 35px;
}

/*/////////////////////////Information/////////////////////////////////*/

.sectionInfo{
	width:820px;
	margin:0 auto;
}

.infor {
	position: relative;
	margin:0 auto;
	margin-top: 10px;
	width:100%;
}

.info-left {
	display:block;
	position: relative;
	width: 390px;
	/*background-color: #fcc;*/
}

.info-left > li {
	border:0px;
}

.info-left > li.list-group-item > span {
	color: #000;
}

.info-left > li.list-group-item > span.list-group-item-title {
	display:inline-block;
	/*min-width:150px;*/
	width:150px;
	vertical-align:top;
	padding-right: 5px;
	text-align: left;
	font-size: 11pt;
	font-weight: bold;
	color: #555;
}

.info-left > li.list-group-item > span.list-group-item-value {
	width:230px;
	display:inline-block;
	vertical-align:top;
	word-break:break-all;
}

.sectionInfo .info-left > li.list-group-item{
	padding: 5px 0;
}
.info-left > li.list-group-item {	/* override bootstrap */
	padding: 5px 15px;
}


.list-group > .list-group-heading {
	color: #4598aa;
  	font-size: 14pt;
  	padding: 10px 10px;
  	list-style-type: none;
}
.sectionInfo .list-group > .list-group-heading{
	padding-left: 0;
	padding-right: 0;
}

.list-group > .list-group-heading > span {
	vertical-align: bottom;
}

#router_right {
	display:inline-block;
	position: absolute;
	top:0px;
    left: 390px;
	min-height: 300px;
	/*background-color: #fcc;*/
}

#newFirmwareIcon {
	position: relative;
	top: 3px;
}
.gerneral_Info_label {
	position: relative;
	font-weight: normal;
}
.alertInfo_label {
	cursor: pointer;
	color: #ff801a;
	margin-bottom: 0px;
}
.alertInfo {
	margin-right:10px;
	cursor: pointer;
}

.no_client {
	color:#7d7d7d;
	text-align: center;
	padding-top: 40px;
	font-size: 14pt;
}
