.black_overlay{
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 200%;
	background-color: rgba(0, 0, 0, 0.65);
	z-index:1001;
}
.popup_window_border {
	position: relative;
	top:25%;
	margin: 0 auto;
	width: 280px;
	height: 280px;
	padding: 8px;

	background-color: white;
	z-index:1003;
	overflow: auto;

	border: 1px solid rgba(196, 196, 196, 1);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0 0 26px rgba(0, 0, 0, 0.875);
	-moz-box-shadow: 0 0 26px rgba(0, 0, 0, 0.875);
	box-shadow: 0 0 26px rgba(0, 0, 0, 0.875);

	text-align: center;
}
.popup_window {
	position:relative;
	width:100%;
	height:100%;
	padding:10px;

	border: 2px solid rgba(196, 196, 196, 1);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	background-image:-moz-linear-gradient(to bottom,#fff 70%, #ccc 100%);
	background-image:-webkit-linear-gradient(to bottom,#fff 70%, #ccc 100%);
	background-image: -webkit-gradient(linear, 0 70%, 0 100%, from(#ffffff), to(#cccccc));
	background-image:-o-linear-gradient(to bottom,#fff 70%, #ccc 100%);
	background-image:linear-gradient(to bottom,#fff 70%, #ccc 100%);
	background-repeat: repeat-x;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.popup_window-headline {
	position:relative;
	top:15%;
	height:20%;
	font-size: 16px;
}

.popup_window > #popalert_buttons > button {
	width: 50%;
	font-size: 12pt;
}

/* dialog type */
.popup_window.dialog > #popalert_desc {
	display: block;
	position: relative;
	left:0px;
	top:100px;
	width: 100%;

	font-size: 14px;
	/*word-break: break-all;*/
}

.popup_window.dialog > #popalert_circle,
.popup_window.dialog > #popalert_countdown {
	display:none;
}

.popup_window.dialog > #popalert_buttons {
	display:block;
	position: absolute;
	left:0px;
	bottom:10px;
	width: 100%;
	text-align: center;
}

/* waiting type */
.popup_window.waiting > #popalert_desc {
	display: block;
	position: relative;
	left:0px;
	top:150px;
	width: 100%;

	font-size: 14px;
	/*word-break: break-all;*/
}

.popup_window.waiting > #popalert_countdown {
	display:none;
}

.popup_window.waiting > #popalert_circle {
	display: block;
	position: absolute;
	top:80px;
	left:0px;
	width: 100%;
	text-align: center;
}

.popup_window.waiting > #popalert_buttons {
	display:none;
}

/* waiting with countdown type */
.popup_window.countdown > #popalert_desc {
	display: block;
	position: relative;
	left:0px;
	top:140px;
	width: 100%;

	font-size: 14px;
	/*word-break: break-all;*/
}

.popup_window.countdown > #popalert_countdown {
	display: block;
	position: relative;
	left:0px;
	top:130px;
	width: 100%;

	font-size: 16px;
}

.popup_window.countdown > #popalert_circle {
	display: block;
	position: absolute;
	top:80px;
	left:0px;
	width: 100%;
	text-align: center;
}

.popup_window.countdown > #popalert_buttons {
	display:none;
}

/* confirm type */
.popup_window.confirm > #popalert_desc {
	display: block;
	position: relative;
	left:0px;
	top:100px;
	width: 100%;

	font-size: 14px;
	/*word-break: break-all;*/
}

.popup_window.confirm > #popalert_circle,
.popup_window.confirm > #popalert_countdown,
.popup_window.confirm > #popalert_buttons > #popalert_cancel {
	display:none;
}

.popup_window.confirm > #popalert_buttons {
	display:block;
	position: absolute;
	left:0px;
	bottom:10px;
	width: 100%;
	text-align: center;
}

.popup_window.confirm > #popalert_buttons > #popalert_ok {
	width:90%;
	margin-left: 0px;
	border-radius: 6px;
	float:none;
}

.popup_window.confirm .btn-default {
	cursor: pointer;
    color: #333;
    background-color: #fff;
    border:1px solid #CCC;
    padding:6px 12px;
}

.popup_window.confirm .btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

/* dialog type */
.popup_window.dialog .btn-default {
	cursor: pointer;
    color: #333;
    background-color: #fff;
    border:1px solid #CCC;
    padding:6px 12px;
}

.popup_window.dialog .btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.popup_window.dialog > #popalert_buttons {
	display:inline-block;
}

.popup_window.dialog > #popalert_buttons > #popalert_ok {
	width:45%;
	margin-left: 0px;
	border-radius: 6px;
	float:none;
}

.popup_window.dialog > #popalert_buttons > #popalert_cancel {
	width:45%;
	margin-left: 0px;
	border-radius: 6px;
	float:none;
}

/* Information image */
.popup_window.dialog #popalert_InformationIMG {
	position: relative;	
	height: 24px;
	width: 24px;
	top:25px;
	margin: 10px auto;
	background: url(../image/Infor2.png) left top no-repeat;
	background-size:24px 24px;	
}
.popup_window.dialog #popalert_desc.infoText {
	top: 50px;
}

/* warningMSG type*/
.popup_window_border.warning {
	width: 500px;
	height: 400px;
}

.popup_window.warningMSG {
	background-image: none;
	border: 0;
}

.popup_window.warningMSG > #popalert_title {
	font-size: 16px;
	font-weight: bold;
	padding: 20px 0;
	color: #4598aa;
}

.popup_window.warningMSG > #popalert_desc {
	display: block;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0 15px;
	font-size: 14px;
	word-wrap: break-word;
	/*word-break: break-all;*/
}

.popup_window.warningMSG > #popalert_circle,
.popup_window.warningMSG > #popalert_countdown,
.popup_window.warningMSG > #popalert_buttons > #popalert_cancel {
	display:none;
}

.popup_window.warningMSG > #popalert_buttons {
	display:block;
	position: absolute;
	left:0px;
	bottom:10px;
	width: 100%;
	text-align: center;
}

.popup_window.warningMSG > #popalert_buttons > #popalert_ok {
	width: 120px;
	margin-left: 0px;
	border-radius: 0px;
	float: none;
	font-size: 11pt;
}

.popup_window.warningMSG .btn-default {
	position: relative;
	top: 0px;
	color: #FFF;
	display: inline-block;
	text-decoration:none;
	border:solid 1px #4598aa;
	background:#4598aa;
	text-align:center;
	padding:10px 15px;
	min-width: 120px;
	font-size: 11pt;
	cursor:pointer;
}

.popup_window.warningMSG .btn-default:hover {
	background:#4496a8 url(../image/button_bg.png) left top repeat-x;
}