/*//////////////////////MAP//////////////////////////*/
#operationmode_img {
	text-align:center;
	padding:40px 0;
}

#operationmode_img #operationmode_img_router,
#operationmode_img #operationmode_img_extender {
	width:100%;
	display:none;
}

#operationmode_img #operationmode_img_router div,
#operationmode_img #operationmode_img_extender div {
	display:inline-block;
}

#operationmode_img p {
	font-weight:700;
	font-size:14px;	
	width:200px;
	margin:0;
	/*white-space:nowrap;*/
}

/*router1*/
#operationmode_img .router1 {
	background:url(../image/internet.png) center top no-repeat;
	background-size:64px 63px;
	width:64px;
	height:90px;
	position:relative;
}

#operationmode_img .router1 p {
	position:absolute;
	left:-68px;
	top:75px;
}

/*router2*/
#operationmode_img .router2 {
	background:url(../image/line_z_off.png) center 35px no-repeat;
	background-size:130px 5px;
	background-repeat:no-repeat;
	width:130px;
	height:90px;	
}

/*router3*/
#operationmode_img .router3 {
	background: url(../image/router3_off.png) center top no-repeat;
	background-size:90px 64px;
	width:90px;
	height:90px;
	position:relative;
}

#operationmode_img .router3 p {
	position:absolute;
	left:-55px;
	top:75px;	
}

/*router4*/
#operationmode_img .router4 {
	background:url(../image/wifi_off.png) center 15px no-repeat;
	background-size:130px 50px;
	width:130px;
	height:90px;
}

/*router5*/
#operationmode_img .router5 {
	background:url(../image/wifiCients_z.png) center top no-repeat;
	background-size:54px 66px;
	width:64px;
	height:90px;
	position:relative;
}

#operationmode_img .router5 p {
	position:absolute;
	left:-68px;
	top:75px;
}

/*extender1*/
#operationmode_img .extender1 {
	background:url(../image/internet.png) center top no-repeat;
	background-size:64px 63px;
	width:64px;
	height:90px;
	position:relative;
}

#operationmode_img .extender1 p {
	position:absolute;
	left:-68px;
	top:75px;
}

/*extender2*/
#operationmode_img .extender2 {
	background:url(../image/line_z_small_off.png) center 35px no-repeat;
	background-size:74px 5px;
	width:74px;
	height:90px;
	position:relative;
}

/*extender3*/
#operationmode_img .extender3 {
	background:url(../image/modem_gary.png) center top no-repeat;
	background-size:42px 60px;
	width:60px;
	height:90px;
	position:relative;
}

#operationmode_img .extender3 p {
	position:absolute;
	left:-70px;
	top:75px;
}

/*extender4*/
#operationmode_img .extender4 {
	background:url(../image/wifi_small_off.png) center 15px no-repeat;
	background-size:60px 50px;
	width:60px;
	height:90px;
}

/*extender5*/
#operationmode_img .extender5 {
	background: url(../image/router3_off.png) center top no-repeat;
	background-size:90px 64px;
	width:90px;
	height:90px;
	position:relative;
}

#operationmode_img .extender5 p {
	position:absolute;
	left:-55px;
	top:75px;
}

/*extender6*/
#operationmode_img .extender6 {
	background:url(../image/wifi_small_off.png) center 15px no-repeat;
	background-size:60px 50px;
	width:60px;
	height:90px;
}

/*extender7*/
#operationmode_img .extender7 {
	background:url(../image/wifiCients_z.png) center top no-repeat;
	background-size:54px 66px;
	width:64px;
	height:90px;
	position:relative;
}

#operationmode_img .extender7 p {
	position:absolute;
	left:-68px;
	top:75px;
}
